@import "~styles/colors";
@import "~styles/misc";

.root {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}
.shadow {
    position: absolute;
    top: 0px;
    right: 0px;
    width: calc(100% - #{$layer-sidebar-width});
    z-index: 1;
    height: 45px;
}
.toolbarRoot {
    min-height: 45px;
    justify-content: space-between;
}
.title {
    flex: 1;
    color: white;
    display: inline-block;
    color: $color-light;
    font-size: 1.4rem;
    -webkit-font-smoothing: antialiased;
    flex-grow: 0;
    // letter-spacing: 0.0756em;
}

.appLogo {
    fill: white;
    width: 28px;
    height: 28px;
    top: 1px;
    position: relative;
    margin-right: 11px;
}

.tabsRoot {
    width: $layer-sidebar-width;
    // background: $color-secondary;
}
.tabLabelContainer {
    width: 200px;
    span {
        -webkit-font-smoothing: antialiased;
    }
}
.toolbarLeft {
    display: flex;
    align-items: center;
}
