@import "~styles/colors";
.container {
    composes: appContainer from "_core/components/App/AppContainer.scss";
    background: #222222;
    overflow: scroll;
}

.card {
    margin: 0 auto;
    align-content: center;
    padding-top: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.1em 0 0 2em;
    clear: both;
    z-index: 5;
    position: relative;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 15px;
    font-family: Helvetica, Arial, sans-serif;
}

.brand_area {
    width: 362px;
    height: 68px;
    position: relative;
    background: url(img/logo_nasa_trio_white@2x.png) no-repeat;
    background-size: 100%;
    z-index: 300;
    display: inline-block;
}

.brand1 {
    height: 100%;
    width: 25%;
    float: left;
}

.brand2 {
    float: left;
    width: 75%;
    height: 100%;
}

.nasa_logo {
    text-indent: -9999px;
}

.jpl_logo {
    text-indent: -9999px;
    width: 100%;
    float: left;
    height: 100%;
}

a.nasa_logo {
    display: block;
    height: 100%;
}

.caltech_logo {
    display: none;
}

.jpl_logo {
    height: 100px;
}

.print_logo {
    display: none;
}

.hero_banner {
    width: 100%;
    background: url(img/hero_image.jpg) no-repeat;
    background-size: cover;
    background-position: 40% 0%;
    height: 450px;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}

.banner_shader {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
}

.hero_controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.map_button_container {
    display: flex;
    justify-content: center;
}

.map_button {
    font-size: 3rem;
    padding: .2em 1em .2em 1em;
    background-color: #ffffff;
    color: #25468A;
    transition: all .3s ease-in-out;
    &:hover {
        color: #ffffff;
        background-color: #25468A;
        transform: scale(1.1);
    }
}

.title {
    color: #ffffff;
    font-size: 4em;
    text-align: center;
    font-weight: 500;
    font-family: Helvetica, Arial, sans-serif;
}

.section_hero {
    color: #ffffff;
    white-space: normal;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    line-height: 2.2rem;
    font-family: Helvetica, Arial, sans-serif;
}

.card_content {
    display: flex;
    justify-content: space-around;
    font-family: Helvetica, Arial, sans-serif;
}

.left {
    width: 50%;
}

.right {
    width: 25%;
    margin-left: -12%;

    .section_body:first-of-type {
        margin-bottom: 20px;
    }
}

.section_title {
    font-weight: 600;
}

.section_body {
    white-space: normal;
    margin-bottom: 20px;
    font-size: 1.6rem;
    line-height: 1.9rem;
}

.footer {
    width: 100%;
    color: #a5a6a7;
    margin-top: 40px;
    padding-right: 5%;
    margin-bottom: 20px;
    font-family: Helvetica, Arial, sans-serif;

    div {
        text-align: center;
    }

    .footer_nav {
        width:100%;
        text-align: center;
        margin-bottom: -2em;
    }

    ul {
        list-style: none;
    }

    li {
        display: inline;
        margin: 0.6em;
    }

    .div_footer_right {
        text-align: left;
        width: 20%;
        float: right;
        position: relative;
        margin-bottom: 4em;
    }

    a {
        color: #a5a6a7;
        text-decoration: none;
        text-transform: uppercase;
    }
}
