/* colors */
// $color-primary: #3367d6;
$color-primary: #6164dd;
$color-secondary: #4e51ba;
// $color-accent: #2196f3;
// $color-background: #fafafa;
$color-background: #f5f5f5;

/* neutrals */
$color-dark: #212121;
$color-light: #fafafa;
$color-medium-dark: lighten($color-dark, 15%);
$color-medium: lighten($color-dark, 20%);
$color-medium-light: darken($color-light, 15%);
