@import "~react-toolbox/lib/colors";

/* colors */

$color-primary: $palette-blue-400;
$color-primary-dark: $palette-blue-700;
$color-primary-light: $palette-blue-200;
$color-primary-contrast: $color-dark-contrast;

/* neutrals */

$color-dark: $palette-grey-900;
$color-medium-dark: $palette-grey-700;
$color-medium: $palette-grey-500;
$color-medium-light: $palette-grey-200;
$color-light: $palette-grey-50;

/* text */

$color-text: $palette-grey-50;
$color-text-secondary: $palette-grey-400;

/* misc */

$color-background: $color-light;
$color-divider: $palette-grey-300;
