.feature-detail-container {
  @include selectable(text);
  background: white;
  left: 450px;
  position: absolute;
  z-index: 1;
  height: calc(100% - 42px);
  width: calc(100% - 450px);
  overflow: auto;
  top: 42px;
  background: $color-background;
  .floating-back-button {
    position: fixed;
    z-index: 1;
    left: 465px;
    top: 57px;
    color: $color-primary !important;
    padding: 0rem 1rem;
  }
  .header-image {
    background-size: cover;
    width: 100%;
    height: 175px;
    background-position: 50% 50%;
  }
  .header {
    background: $color-primary;
    padding: 15px;
  }
  .header-title {
    margin: 0;
    color: white;
    font-weight: 500;
  }
  .header-subtitle {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 2px;
    margin-bottom: 0px;
  }
  .feature-detail-body {
    padding: 10px;
  }
  .card {
    margin-bottom: 10px;
  }
  .card-title {
    margin: 0;
  }
  .observation-image {
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .info-box {
    // padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    div {
      display: flex;
      align-items: center;
      flex-basis: 50%;
      margin: 5px 0;
      label {
        display: inline-block;
        width: 200px;
        color: #7f7f7f;
        &.stacked {
          .main {
            display: block;
          }
          .sub {
            font-size: 12px;
          }
        }
      }
    }
    span {
      unit {
        color: #7f7f7f;
      }
    }
  }
}
// .feature-detail-card-container {
// 	position: absolute;
// 	top: 42px;
// 	left: 450px;
// 	height: 100%;
//   overflow: auto;
//   z-index: 1;
// 	// max-height: calc(80vh - 80px);
// 	.feature-detail-card {
// 		.exit-button {
// 			position: absolute;
// 			z-index: 2;
// 			button {
// 				color: #4285f4;
// 				background-color: #fff;
// 				&:hover {
// 					color: #fff;
// 					background-color: #4285f4;
// 				}
// 			}
// 		}
// 		background-color: #f9f9f9;
// 		.header-image {
// 			height: 150px;
// 		}
// 		.header {
// 			background-color: #3367d6;
// 			color: #fff;
// 		}

// 		.title {
// 			margin: 0;
// 		}

// 		.section {
// 			background-color: #f9f9f9;
// 			.section-body {
// 				margin: 15px 0;
// 				background-color: #fff;
// 				border: 1px solid #f2f2f2;
// 				h2,
// 				.info-box {
// 					margin-left: 10px;
// 				}
// 				.info-box {
// 					padding-bottom: 10px;
// 					display: flex;
// 					flex-wrap: wrap;
// 					div {
// 						display: flex;
// 						align-items: center;
// 						flex-basis: 50%;
// 						margin: 5px 0;
// 						label {
// 							display: inline-block;
// 							width: 200px;
// 							color: #7f7f7f;
// 							&.stacked {
// 								.main {
// 									display: block;
// 								}
// 								.sub {
// 									font-size: 12px;
// 								}
// 							}
// 						}
// 					}
// 					span {
// 						unit {
// 							color: #7f7f7f;
// 						}
// 					}
// 				}
// 				.button-box {
// 					padding-top: 0;
// 					.button {
// 						padding: 0;
// 					}
// 				}
// 				hr {
// 					border: 1px solid #f2f2f2;
// 				}
// 				.observation-image {
// 					margin-left: 10px;
// 					img {
// 						width: 650px;
// 					}
// 				}
// 			}
// 		}
// 		.button {
// 			color: #4285f4;
// 		}
// 		// }
// 	}
// }

// #featureDetailImageHeaderRow {
// 	z-index: 1;
// 	position: relative;
// 	padding: 0;
// 	margin: 0;
// 	height: 150px;
// 	width: 100%;
// 	color: $color-light;
// 	background: $color-light;
// 	border-bottom-left-radius: 2px;
// 	border-bottom-right-radius: 2px;
// 	@include light-shadow();

// 	div {
// 		padding: 0;
// 	}

// 	button[data-react-toolbox="button"] {
// 		color: $color-primary;
// 		position: absolute;
// 		top: 1rem;
// 		left: 1rem;
// 		padding: 0 1.2rem;
// 	}
// }

// #featureDetailHeaderRow {
// 	z-index: 1;
// 	position: relative;
// 	padding: 15px 15px;
// 	margin: 0;
// 	/*top: 0px;
//     left: 0px;*/
// 	width: 100%;
// 	color: $color-light;
// 	background: $header-dark;
// 	border-bottom-left-radius: 2px;
// 	border-bottom-right-radius: 2px;
// 	@include light-shadow();

// 	h2 {
// 		font-size: 32px;
// 		margin: 0;
// 		font-weight: 500;
// 	}

// 	h3 {
// 		margin: 0;
// 		margin-top: 5px;
// 		font-size: 16px;
// 		color: $color-text-secondary;
// 		font-weight: 700;
// 	}
// }

// #featureDetailBodyContent {
// 	width: 100%;
// 	margin: 0;
// 	padding: 0.75em;
// 	.content-section {
// 		color: $color-dark;
// 		background-color: $color-light;
// 		width: 100%;
// 		padding: 0.75em;
// 		h2 {
// 			color: $color-dark;
// 			margin: 0.35em 0;
// 			margin-bottom: 0.5em;
// 			font-size: 24px;
// 		}
// 		h3 {
// 			font-size: unset;
// 			margin: 0.35em 0;
// 			color: $color-text-secondary;
// 		}
// 		hr {
// 			border: 0;
// 			border-bottom: 1px solid $color-text-secondary;
// 			width: 100%;
// 			margin: 0.5em -0.75em;
// 		}
// 		a[data-react-toolbox="button"] {
// 			color: $color-primary-dark;
// 			padding: 0 0;
// 		}
// 	}
// }
