.flexbox-parent {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

#layerSidebar {
  z-index: 2;
  margin-top: 42px;
  height: calc(100% - 42px);
  background-color: $color-background;
  position: relative;
  padding: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.105497);
  width: 450px;

  .navigation-container {
    display: block;
  }

  #layerSidebarHeaderRow {
    margin: 0;
  }

  .category-tabs {
    @include medium-shadow();
    width: 450px;
  }

  .category-tab-nav {
    background-color: $color-primary;
  }

  .category-tab-pointer {
    background-color: #fff;
  }

  .category-tab-content {
    background-color: $color-medium-light;
    padding: 0;
  }

  // #availableFeatures {
  //   width: 100%;
  //   height: 380px;
  // }

  // .feature-info {
  //   height: 53px;
  //   padding: 5px 5px;
  //   border-bottom: 1px solid #eeeeee;
  //   background-color: $color-light;

  //   &.is-selected {
  //     background-color: $color-primary;
  //     color: $color-light;
  //     .county {
  //       color: $color-light;
  //     }
  //   }

  //   .feature-title {
  //     font-size: 2rem;
  //     font-weight: 300;
  //     margin-bottom: 3px;
  //   }

  //   .feature-details {
  //     font-size: 1.1rem;
  //     display: flex;
  //     justify-content: space-between;
  //     width: 60%;
  //   }

  //   .county {
  //     color: $color-text-secondary;
  //   }

  //   .category {
  //     display: flex;
  //     justify-content: middle;
  //   }

  //   .category-icon {
  //     font-size: 10px;
  //     margin-right: 3px;
  //   }
  // }
}

.feature-item-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  overflow: visible;
  position: absolute;
  height: calc(100% - 48px);
  width: 450px;
  // width: 100%;
  background-color: $color-background;
}

#infrastructureSearch {
  display: flex;
  flex-wrap: wrap;
  background-color: $color-background;
  justify-content: flex-start;
  padding-top: 10px;
  width: 100%;
  input {
    flex-basis: 100%;
    height: 38px;
    margin: 0 10px;
    border: solid 0.8px #d2d2d2;
    padding-left: 5px;
  }
  .button {
    margin: 5px 10px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0 5px;

    .plane-icon {
      margin: 0 10px;
      width: 12px;
      height: 12px;
      background-size: auto;
      background: url(resources/img/plane_icon.svg);
    }
    svg {
      width: 12px;
      height: 12px;
      path {
        fill: #393939;
      }
    }
  }
  .button-content {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    color: #222222;
    border: solid 0.8px #d2d2d2;
    background-color: #fff;
  }

  .button-content-primary {
    color: #fff;
    background-color: #1976d2;
    svg path {
      fill: #fff;
    }
  }
}

#infrastructureFilters {
  .facility-filter-list {
    background-color: #fff;
  }

  .facility-filter-category-label {
    color: #222;
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 0px;
    display: inline-block;
  }

  .facility-filter-category-label-icon {
    display: inline-block;
    margin: 0;
    width: 18px;
    height: 23px;
    margin-left: 10px;
    vertical-align: middle;
    svg {
      width: 18px;
      height: 18px;
      circle {
        r: 8;
        cy: 9;
        cx: 9;
      }
    }
  }

  .facility-filter-list-item {
    height: 32px;
    min-height: 0;
    padding-left: 25px;
    span {
      color: #222;
      font-size: 21px;
    }
    div:first-of-type {
      margin-right: 10px;
    }
    input {
      height: 32px;
    }
  }
}
.sidebar-content {
  position: relative;
  overflow: auto;
  .loading-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.no-results-info {
  margin-top: 100px;
  color: #bdbdbd;
  text-align: center;
  [data-react-toolbox="font-icon"] {
    font-size: 12.5rem;
  }
  .no-results-title {
    text-transform: capitalize;
    font-size: 1.9rem;
    font-weight: 500;
  }
  .no-results-subtitle {
    font-size: 1.4rem;
    margin-top: 2px;
    font-style: italic;
  }
}

.sidebar-content {
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
}

.search-filters-container {
  display: flex;
  flex-wrap: wrap;
  background-color: $color-background;
  justify-content: flex-start;
  padding: 10px 15px;
  width: 100%;
  border-bottom: 1px solid $color-divider;
  .search-input {
    flex-basis: 100%;
    height: 38px;
    //   margin: 0 10px;
    //   border: solid 0.8px #d2d2d2;
    // padding: 0px 15px;
    //   color: #373737;
    //   font-size: 14px;
    //   background-color: #fff;
  }
  .button {
    margin: 5px 10px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  .button-content {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    color: #222222;
    border: solid 0.8px #d2d2d2;
    background-color: #fff;
  }
  .button-content-primary {
    border-color: #3367d6;
  }
}

#plumeDatePicker {
  // padding: 0px 15px;
  margin: 0;
  display: block;
  width: 100%;
  .date-picker {
    width: 49%;
    display: inline-block;
    position: relative;
    &:last-child {
      float: right;
    }
  }
  .calendar-icon {
    font-size: 18px;
    color: lighten($color-medium, 10%);
    z-index: 1;
    line-height: 2.5rem;
    width: 0px;
    height: 0px;
    top: 7px;
    left: 12px;
    position: absolute;
  }
  div[data-react-toolbox="input"] {
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    background: white;
    cursor: pointer;
    margin-left: 0px !important;
    padding: 0rem 1rem 0rem 4rem;
    display: block;
    width: 100%;
    input {
      height: 35px;
      border: none;
      font-family: "Roboto", sans-serif;
      font-size: 1.4rem;
    }
  }
  .search-input-action-button-container {
    z-index: 1;
    right: 1rem;
    top: 0.6rem;
    position: absolute;
  }
  .search-input-action-button {
    &.button-neutral {
      color: lighten($color-medium, 10%);
    }
    &.button-primary {
      color: $color-primary;
    }
  }
}

#plumeFilterDropdowns {
  width: 100%;
  // margin-left: 10px;
  height: 57px;
  .dropdown {
    outline: none;
    width: 25%;
    ul {
      width: auto;
      padding: 0;
    }
    li {
      min-width: 90px;
    }
    input {
      // color: #000;
      // background-color: transparent;
      border: none;
      // font-size: 14px;
    }
    // .values {
    //   padding-left: 20px;
    //   font-size: 14px;
    // }
    // label {
    //   font-weight: 500;
    // }
  }
}
.feature-item-list {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  background-color: white;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
  overflow-y: auto;
}

.feature-item-container-list-item {
  border-bottom: 1px solid $color-divider;
  .itemAction {
    font-size: 24px;
    button {
      transition: none;
    }
  }
  &.selected {
    .item {
      background-color: $color-primary !important;
    }
    .primary-text {
      color: white;
    }
    .item-text:not(.primary-text) {
      color: rgba(255, 255, 255, 0.616);
    }
  }
}
