#layerSidebar {
	display: inline-block;
	float: left;
	margin-top: 42px;
	// position: absolute;
	// top: 42px;
	// left: 0px;
	width: 370px;
	height: 100%;
	background-color: #f9f9f9;
	padding: 0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12),
		0 1px 1px 0 rgba(0, 0, 0, 0.24);
	#layerSidebarHeaderRow {
		background: $color-primary-dark;
		// max-height: calc(100vh);
		margin: 0;
	}

	.category-tabs {
		width: 100%;
	}

	.category-tab-nav {
		background-color: $color-primary-dark;
	}

	.category-tab-pointer {
		background-color: #fff;
	}

	.category-tab-content {
		background-color: $color-medium-light;
		padding: 0;

		.features-container {
			// overflow-y: scroll;
		}
	}

	.no-results .category-tab-content {
		height: 35px;
		overflow-y: scroll;
	}

	.layer-sidebar-menu-header.selected {
		color: $color-text;
		border-bottom: 3px solid #fafafa;
	}

	.feature-results-page-row {
		display: flex;
		align-items: middle;
		justify-content: flex-end;
		// position: absolute;
		// bottom: 0;
		// left: 0;
		align-self: flex-end;
		width: 100%;
		background-color: transparent;
	}

	.layer-sidebar-page-label {
		line-height: 36px;
	}

	.layer-sidebar-page-icon {
		font-size: 30px;
	}

	#availableFeatures {
		width: 100%;
		height: 380px;
	}

	.feature-info {
		height: 53px;
		padding: 5px 5px;
		border-bottom: 1px solid $color-divider;
		background-color: $color-light;

		&.is-selected {
			background-color: $color-primary;
			color: $color-light;
			.county {
				color: $color-light;
			}
		}

		.feature-title {
			font-size: 2rem;
			font-weight: 300;
			margin-bottom: 3px;
		}

		.feature-details {
			font-size: 1.1rem;
			display: flex;
			justify-content: space-between;
			width: 60%;
		}

		.county {
			color: $color-text-secondary;
		}

		.category {
			display: flex;
			justify-content: middle;
		}

		.category-icon {
			font-size: 10px;
			margin-right: 3px;
		}
	}
}

.feature-item-container {
	width: 100%;
	background-color: #f9f9f9;
}

#infrastructureSearch {
	display: flex;
	flex-wrap: wrap;
	background-color: #f9f9f9;
	justify-content: flex-start;
	padding-top: 10px;
	width: 100%;
	input {
		flex-basis: 100%;
		height: 38px;
		margin: 0 10px;
		border: solid 0.8px #d2d2d2;
		padding-left: 5px;
	}
	.button {
		margin: 5px 10px;
		flex-grow: 1;
		display: flex;
		justify-content: space-around;
		align-items: baseline;
		padding: 0 5px;

		.plane-icon {
			margin: 0 10px;
			width: 12px;
			height: 12px;
			background-size: auto;
			background: url(resources/img/plane_icon.svg);
		}
		svg {
			width: 12px;
			height: 12px;
			path {
				fill: #393939;
			}
		}
	}
	.button-content {
		font-size: 14px;
		font-weight: normal;
		text-transform: none;
		color: #222222;
		border: solid 0.8px #d2d2d2;
		background-color: #fff;
	}

	.button-content-primary {
		color: #fff;
		background-color: #1976d2;
		svg path {
			fill: #fff;
		}
	}
}

#infrastructureFilters {
	.facility-filter-list {
		background-color: #fff;
	}

	.facility-filter-category-label {
		color: #222;
		text-transform: capitalize;
		font-size: 20px;
		margin-top: 0px;
		display: inline-block;
	}

	.facility-filter-category-label-icon {
		display: inline-block;
		margin: 0;
		width: 18px;
		height: 23px;
		margin-left: 10px;
		vertical-align: middle;
		svg {
			width: 18px;
			height: 18px;
			circle {
				r: 8;
				cy: 9;
				cx: 9;
			}
		}
	}

	.facility-filter-list-item {
		height: 32px;
		min-height: 0;
		padding-left: 25px;
		span {
			color: #222;
			font-size: 21px;
		}
		div:first-of-type {
			margin-right: 10px;
		}
		input {
			height: 32px;
		}
	}
}
.sidebar-content {
	position: relative;
	overflow: auto;
	max-height: calc(80vh - 80px);

	&.no-results {
		max-height: unset;
	}

	.loading-modal {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.75);
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
#infrastructureResults {
	.no-results {
		margin-top: 125px;
		color: #a0a0a0;
		text-align: center;
		.icon {
			margin: 0 auto;
			width: 81px;
			height: 72px;
			background-size: auto;
			background: url(resources/img/infrastructure_icon.svg);
		}
		h1 {
			width: 100%;
			font-size: 19px;
		}
		h2 {
			width: 100%;
			font-size: 14px;
			font-style: italic;
		}
	}
}
#plumeResults {
	.no-results-info {
		margin-top: 125px;
		color: #a0a0a0;
		text-align: center;
		.icon {
			margin: 0 auto;
			width: 97px;
			height: 72px;
			background-size: auto;
			background: url(resources/img/cloud_icon.svg);
		}
		h1 {
			width: 100%;
			font-size: 19px;
		}
		h2 {
			width: 100%;
			font-size: 14px;
			font-style: italic;
		}
	}
}

#plumeSearch {
	display: flex;
	flex-wrap: wrap;
	background-color: #f9f9f9;
	justify-content: flex-start;
	padding: 10px 0;
	width: 100%;
	.search-input {
		flex-basis: 100%;
		height: 38px;
		margin: 0 10px;
		border: solid 0.8px #d2d2d2;
		padding-left: 5px;
		color: #373737;
		font-size: 14px;
		background-color: #fff;
	}
	.button {
		margin: 5px 10px;
		flex-grow: 1;
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
	}
	.button-content {
		font-size: 14px;
		font-weight: normal;
		text-transform: none;
		color: #222222;
		border: solid 0.8px #d2d2d2;
		background-color: #fff;
	}
	.button-content-primary {
		border-color: #3367d6;
	}
	#plumeDatePicker {
		flex-basis: 100%;
		margin: 0;
		margin-right: 2px;
		margin-top: 10px;
		padding: 0;
		display: flex;
		justify-content: space-between;

		.calendar-icon {
			font-size: 18px;
			position: relative;
			top: 9px;
			left: -152px;
		}

		input {
			padding-left: 27px;
			color: #373737;
			font-size: 14px;
		}
	}

	#plumeFilterDropdowns {
		width: 100%;
		margin-left: 10px;
		.dropdown {
			outline: none;
			width: 25%;
			input {
				color: #000;
				background-color: transparent;
				border: none;
				font-size: 14px;
			}
			.values {
				padding-left: 20px;
				font-size: 14px;
			}
			label {
				font-weight: 500;
			}
		}
	}
}
.feature-item-list {
	margin-top: 0;
	padding: 0;
	background-color: #fff;
}
.feature-item-container-list-item {
	span:first-of-type {
		color: #373737;
		font-size: 23px;
		font-weight: 300;
	}
	span:last-of-type {
		color: #a0a0a0;
		font-size: 13px;
	}
	&:hover span {
		color: #4285f4;
	}
	&.selected {
		background-color: #4285f4;
		span {
			color: #fff;
		}
		&:hover span {
			color: #4285f4;
		}
	}
}
