#mapToolsMenu {
  position: absolute;
  right: 63px;
  bottom: 125px;
  left: inherit;
  transition: opacity 0.2s linear 0s, top 0s linear 0.21s;
  opacity: 0;
  pointer-events: none;
  &:not(.active) {
    // visibility: hidden;
  }
  &.active {
    opacity: 1;
    transition: opacity 0s linear 0s, top 0s linear 0s;
    pointer-events: all;
  }
  &:after,
  &:before {
    top: 86%;
    border: solid red;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:before {
    left: 100%;
    border-color: rgba(194, 225, 245, 0);
    border-left-color: rgba(0, 0, 0, 0.08);
    border-width: 11px;
    margin-top: -11px;
  }
  &:after {
    left: 98%;
    border-color: transparent;
    border-left-color: $color-light;
    border-width: 11px;
    margin-top: -11px;
    margin-right: 2px;
  }
  [data-react-toolbox="menu-item"] {
    height: inherit;
    padding: 0px;
  }
}

#map-controls {
  position: absolute;
  bottom: 15px;
  right: 15px;
  .map-button-group {
    color: red;
    button:first-child {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    button:last-child {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
  .floating-map-button {
    position: relative;
    border-radius: 0px;
    background: white;
    width: 33px;
    height: 33px;
    min-width: 0;
    display: block;
    @include light-shadow();
    [data-react-toolbox="font-icon"] {
      margin: 0px !important;
    }
    &.map-button-tools {
      top: -11px;
      border-radius: 2px;
    }
    // &:first-child {
    //     border-top-left-radius: 2px;
    //     border-top-right-radius: 2px;
    // }
    // &:nth-child(2) {
    //     border-bottom: 1px solid #e5e5df;
    //     border-right: 1px solid #e5e5df;
    //     padding-left: 1px;
    // }
    // &:nth-child(3) {
    //     border-bottom-left-radius: 2px;
    //     border-right: 1px solid #e5e5df;
    //     padding-left: 1px;
    // }
    // &:nth-child(4) {
    //     border-top-right-radius: 2px;
    //     border-bottom: 1px solid #e5e5df;
    // }
    // &:nth-child(5) {
    //     border-bottom: 1px solid #e5e5df;
    // }
    // &:last-child {
    //     border-bottom-right-radius: 2px;
    // }
    &:focus {
      background: rgb(209, 209, 209);
    }
  }
}
