.page-controls {
  background: #f9f9f9;
  width: 100%;
  position: relative;
  border-top: 1px solid $color-divider;
  padding: 5px 5px;
  text-align: right;
  .page-control-buttons {
    display: inline-block;
  }
  .page-controls-label {
    display: inline-block;
    vertical-align: -0.4rem;
    margin-right: 14px;
  }
  .page-controls-icon {
    font-size: 30px;
  }
}
