.search-input {
  position: relative;
  height: 39px;
  display: block;
  margin-bottom: 10px;
  div[data-react-toolbox="input"] {
    border-radius: 2px;
    padding: 0rem 1rem 0rem 4rem;
    border: 1px solid #e8e8e8;
    background: white;
    cursor: pointer;
    margin-left: 0px !important;
    margin-bottom: 10px;
    display: block;
    .hint {
      font-size: 1.4rem;
    }
    .bar {
      display: none;
    }
    .left-icon {
      font-size: 3rem !important;
      width: 0px;
      height: 0px;
      top: -6px;
      left: 10px;
      position: absolute;
      span {
        font-size: 2rem;
      }
    }
    input {
      height: 35px;
      border: none;
      font-family: "Roboto", sans-serif;
      font-size: 1.4rem;
    }
    span:last-child {
      top: 1rem;
      left: 4rem;
      opacity: 1;
    }
  }
  .search-input-action-button-container {
    z-index: 1;
    right: 1rem;
    top: 0.6rem;
    position: absolute;
  }
  .search-input-action-button {
    &.button-neutral {
      color: lighten($color-medium, 10%);
    }
    &.button-primary {
      color: $color-primary;
    }
  }
}
