@import "~styles/colors";

.colorbar {
    composes: colorbar from "_core/components/LayerMenu/LayerControlContainer.scss";
    canvas {
        outline: 1px solid #eee;
    }
}

.infrastructureLegend {
    composes: colorbar from "_core/components/LayerMenu/LayerControlContainer.scss";
    composes: colorbar from "_core/components/Colorbar/Colorbar.scss";
    composes: fontRobotoMono from "_core/styles/text.scss";
    text-align: center;
    text-transform: capitalize;
}

.legendColor {
    width: 100%;
    height: 12px;
    display: inline-block;
}
