.layerControlIconRow {
    composes: layerControlIconRow from "_core/components/LayerMenu/LayerControlContainer.scss";
    position: relative;
    float: right;
    z-index: 1;
    align-items: baseline;
}

.layerControlDateRow div {
    display: unset;
}

.griddedLayerListItem {
    z-index: 0;
}

.icon {
    width: 30px;
}

.dropdownSelect {
    width: 200px;
    border: 1px solid black;
    background: transparent;
    border-radius: 0;
}

.controlRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: baseline;
}

.colorSwatch {
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.layerControlContent {
    composes: layerControlContent from "_core/components/LayerMenu/LayerControlContainer.scss";
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.griddedLayerControlContent {
    composes: layerControlContent from "_core/components/LayerMenu/LayerControlContainer.scss";
    height: 80px;
}
