@import "~styles/colors";

.layerMenu {
    width: 370px;
    top: 45px;
    right: 15px;
    left: initial;
}

.layerHeaderRow {
    composes: layerHeaderRow from "_core/components/LayerMenu/LayerMenuContainer.scss";
    // background: $color-primary;
    // color: white;
}
.layerMenuContent {
    composes: layerMenuContent from "_core/components/LayerMenu/LayerMenuContainer.scss";
    // overflow: hidden;
    // overflow-y: hidden;
}
