.layerControlIconRow {
    composes: layerControlIconRow from "_core/components/LayerMenu/LayerControlContainer.scss";
    position: relative;
    float: right;
}
.griddedLayerListItem {
    z-index: 0;
}
