.root {
    composes: contextMenuItem from "_core/components/Reusables/MapToolsMenu.scss";
    position: relative;
}

.subMenu {
    position: absolute;
    visibility: hidden;
}

.active {
    visibility: visible;
}

.top {
    top: 0px;
}

.bottom {
    bottom: 0px;
}

.left {
    right: 100%;
}

.right {
    left: 100%;
}

.itemIcon {
    composes: listItemIcon from "_core/components/Reusables/MapToolsMenu.scss";
}
