.mapToolsMenu {
    display: block;
}

.contextMenuItem {
    min-width: 50px;
    text-align: left;
    justify-content: left;
}

.listItemIcon {
    margin-right: 0px;
    i {
        font-size: 2rem;
        padding-left: 1px;
        padding-top: 0px;
    }
}
