@import "~styles/colors";
.tooltip {
    composes: tooltip from "_core/components/Map/MapTooltip.scss";
    border-radius: 0;
    padding: 10px 13px;
    &:after {
        border-top: 8px solid white;
    }
}

.title,
.subtitle {
    composes: fontRoboto from "_core/styles/text.scss";
    font-weight: 400;
    line-height: 1.46429em;
}
.title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.4rem;
}
.subtitle {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.3rem;
}
