.shareContainer {
    max-width: 300px;
    padding: 0px 1.6rem;
    height: 180px;
    button {
        margin-right: auto;
        margin-left: auto;
    }
}
.permalink {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
}

.buttons {
    text-align: center;
}
